<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="SoftwareTestingSuite" verbose="1" parallel="false">
    <test name="CreateUserTest">
        <classes>
            <class name="Assignment16.CreateUserTest"/>
        </classes>
    </test>
</suite>
